<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Feed</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="//platform.instagram.com/en_US/embeds.js"></script>
</head>
<body class="col-sm-offset-1 col-sm-10" style="padding-top: 2%;">
<div style="margin-left: 140px;">
    <h3>Top Models from Instagram</h3>
</div>

<div ng-app='myApplication' ng-controller='AppController'>
    <div infinite-scroll='feed.nextPage()' infinite-scroll-disabled='feed.busy' infinite-scroll-distance='1'>
        <div id="feed" style="margin-left: 140px;">
            <div id={{url}} ng-repeat="url in feed.items">
                <div class="content"></div>
                <div class="buttons">
                    <button ng-click="updateScore(url, 100)">Superlike</button>
                    <button ng-click="updateScore(url, 10)">Upvote</button>
                    <button ng-click="updateScore(url, -10)">Downvote</button>
                    <button ng-click="updateScore(url, -100)">Bhakk</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show='feed.busy'>Loading data...</div>
</div>
</div>
<!--https://material.angularjs.org/latest/demo/virtualRepeat-->
<script>
/* ng-infinite-scroll - v1.0.0 - 2013-02-23 */
angular.module('infinite-scroll', [])
.directive('infiniteScroll', [
  '$rootScope', '$window', '$timeout', function($rootScope, $window, $timeout) {
    return {
      link: function(scope, elem, attrs) {
        var checkWhenEnabled, handler, scrollDistance, scrollEnabled;
        $window = angular.element($window);
        scrollDistance = 0;
        if (attrs.infiniteScrollDistance != null) {
          scope.$watch(attrs.infiniteScrollDistance, function(value) {
            return scrollDistance = parseInt(value, 10);
          });
        }
        scrollEnabled = true;
        checkWhenEnabled = false;
        if (attrs.infiniteScrollDisabled != null) {
          scope.$watch(attrs.infiniteScrollDisabled, function(value) {
            scrollEnabled = !value;
            if (scrollEnabled && checkWhenEnabled) {
              checkWhenEnabled = false;
              return handler();
            }
          });
        }
        handler = function() {
          var elementBottom, remaining, shouldScroll, windowBottom;
          windowBottom = $window.height() + $window.scrollTop();
          elementBottom = elem.offset().top + elem.height();
          remaining = elementBottom - windowBottom;
          shouldScroll = remaining <= $window.height() * scrollDistance;
          if (shouldScroll && scrollEnabled) {
            if ($rootScope.$$phase) {
              return scope.$eval(attrs.infiniteScroll);
            } else {
              return scope.$apply(attrs.infiniteScroll);
            }
          } else if (shouldScroll) {
            return checkWhenEnabled = true;
          }
        };
        $window.on('scroll', handler);
        scope.$on('$destroy', function() {
          return $window.off('scroll', handler);
        });
        return $timeout((function() {
          if (attrs.infiniteScrollImmediateCheck) {
            if (scope.$eval(attrs.infiniteScrollImmediateCheck)) {
              return handler();
            }
          } else {
            return handler();
          }
        }), 0);
      }
    };
  }
]);

angular.module('myApplication', ['infinite-scroll']);

angular.module('myApplication')
  .controller('AppController', function($scope, InstaFeed, $location){
      $scope.feed = new InstaFeed();
      $scope.updateScore = function(url, score) {
          $.get('/trending/update?url='+url+'&score='+score, function(resp){
            console.log("update status "+ resp.updated);
          });
      };
      //console.log($location.absUrl());
    })
  .factory('InstaFeed', function($http, $sce) {
      var InstaFeed = function() {
        this.items = [];
        this.set = new Set();
        this.busy = false;
        this.inProgress = 0;
        this.progressStarted = function(){
            this.inProgress++;
            this.busy = this.inProgress > 0;
        };
        this.progressCompleted = function(){
            this.inProgress--;
            this.busy = this.inProgress > 0;
        };
        this.nextUrl = "/trending?limit=5";
        this.notFoundItems = [];
      };

      InstaFeed.prototype.nextPage = function() {
        if (this.busy || !this.nextUrl) return;
        this.progressStarted();
        $http.get(this.nextUrl)
            .then(function(data) {
              data = data.data;
              var items = data.feed;
              for (var i = 0; i < items.length; i++) {
                var mediaUrl = items[i][1];
                if (!this.set.has(mediaUrl)){
                    this.set.add(mediaUrl);
                    this.progressStarted();
                    $http.jsonp($sce.trustAsResourceUrl("http://api.instagram.com/oembed/?omitscript=true&url=" + mediaUrl))
                        .then(function(resp) {
                            if (resp.data && resp.data.html){
                                var url = resp.config.url.toString().replace(/.*&url=/, '')
                                if (this.items.length > 15) this.items.shift();
                                this.items.push(mediaUrl);
                                $('#feed').find("[id='" + url + "']").find("[class='content']").prepend($(resp.data.html));
                                instgrm.Embeds.process();
                            }

                        }.bind(this), function(resp) {
                            var url = resp.config.url.toString().replace(/.*&url=/, '')
                            //var idx = this.items.indexOf(url);
                            //if (idx > -1)
                            //    this.items.splice(idx, 1);
                            this.notFoundItems.push(url);
                        }.bind(this))
                        .finally(function(){
                            this.progressCompleted();
                        }.bind(this));
                }
              }
              this.nextUrl = data.next || undefined;
            }.bind(this))
            .finally(function(){
                this.progressCompleted();
            }.bind(this));
      };

      return InstaFeed;
  })
  .filter('trusted', ['$sce', function ($sce) {
    return function(url) {
        return $sce.trustAsResourceUrl("http://api.instagram.com/oembed/?omitscript=true&url=" + url);
    };
}]);




</script>
</body>
</html>
