<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Feed</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script src="//platform.instagram.com/en_US/embeds.js"></script>

    <!-- Angular Material pre-requisite Libraries -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-aria.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-messages.min.js"></script>-->

    <!-- Angular Material Library -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.7/angular-material.min.js"></script>-->
    <style>
        /* Style the tab */
        .action {
            padding: 12px;
            margin: -12px 4px 12px 0px;
        }
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: 1px solid #ccc;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

    </style>
</head>
<body class="col-sm-offset-1 col-sm-10">

<div ng-app='myApplication' ng-controller='AppController'>
    <div class="tab" style="z-index: 2; position: fixed; width: 100%;">
        <a href="{{tab.url}}" ng-repeat="tab in tabs">
            <button class="tablinks"
                    ng-class="{'active': selectedTab.index == tab.index}"
                    >{{tab.label}}
            </button>
        </a>
    </div>


    <div style="margin-left: 140px; padding-top: 40px;">
        <h3>Top Models from Instagram</h3>
    </div>
    <div infinite-scroll='feed.nextPage()' infinite-scroll-disabled='feed.busy' infinite-scroll-distance='1'>
        <div id="feed" style="margin-left: 140px;">
            <div id={{item[0]}} ng-repeat="item in feed.items">
                <div class="content"></div>
                <div class="buttons">
                    <button class="action" ng-click="updateScore(url, 100, $event)">Superlike</button>
                    <button class="action" ng-click="updateScore(url, 10, $event)">Upvote</button>
                    <button class="action" ng-click="updateScore(url, -10, $event)">Downvote</button>
                    <button class="action" ng-click="updateScore(url, -100, $event)">Bhakk</button>
                    <span>({{item[1]}})</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show='feed.busy'>Loading data...</div>
</div>
</div>
<!--https://material.angularjs.org/latest/demo/virtualRepeat-->
<script>

/* ng-infinite-scroll - v1.0.0 - 2013-02-23 */
angular.module('infinite-scroll', [])
.directive('infiniteScroll', [
  '$rootScope', '$window', '$timeout', function($rootScope, $window, $timeout) {
    return {
      link: function(scope, elem, attrs) {
        var checkWhenEnabled, handler, scrollDistance, scrollEnabled;
        $window = angular.element($window);
        scrollDistance = 0;
        if (attrs.infiniteScrollDistance != null) {
          scope.$watch(attrs.infiniteScrollDistance, function(value) {
            return scrollDistance = parseInt(value, 10);
          });
        }
        scrollEnabled = true;
        checkWhenEnabled = false;
        if (attrs.infiniteScrollDisabled != null) {
          scope.$watch(attrs.infiniteScrollDisabled, function(value) {
            scrollEnabled = !value;
            if (scrollEnabled && checkWhenEnabled) {
              checkWhenEnabled = false;
              return handler();
            }
          });
        }
        handler = function() {
          var elementBottom, remaining, shouldScroll, windowBottom;
          windowBottom = $window.height() + $window.scrollTop();
          elementBottom = elem.offset().top + elem.height();
          remaining = elementBottom - windowBottom;
          shouldScroll = remaining <= $window.height() * scrollDistance;
          if (shouldScroll && scrollEnabled) {
            if ($rootScope.$$phase) {
              return scope.$eval(attrs.infiniteScroll);
            } else {
              return scope.$apply(attrs.infiniteScroll);
            }
          } else if (shouldScroll) {
            return checkWhenEnabled = true;
          }
        };
        $window.on('scroll', handler);
        scope.$on('$destroy', function() {
          return $window.off('scroll', handler);
        });
        return $timeout((function() {
          if (attrs.infiniteScrollImmediateCheck) {
            if (scope.$eval(attrs.infiniteScrollImmediateCheck)) {
              return handler();
            }
          } else {
            return handler();
          }
        }), 0);
      }
    };
  }
]);

angular.module('myApplication', ['infinite-scroll']);

angular.module('myApplication')
  .controller('AppController', function($scope, InstaFeed, $location){
      $scope.updateScore = function(url, score, $event) {
          $.get('/trending/update?url='+url+'&score='+score, function(resp){
            console.log("update status "+ resp.updated);
            if (this.textContent.endsWith('!'))
                this.textContent += '!'
            else
                this.textContent += (this.textContent.endsWith('e')) ? 'd!' : 'ed!';
          }.bind($event.currentTarget));
      };
      $scope.tabs = [{"index": 1, "label": "Trending Instagram", "url": "/trends", "sortBy":""},
                        {"index": 2, "label": "Recent", "url": "/recent", "sortBy":"date"},
                       {"index": 3, "label": "Best of All times", "url": "/best", "sortBy":"score"}]

      $scope.onClickTab = function(tab) {
        $scope.selectedTab = tab;
        $scope.feed = new InstaFeed(tab.sortBy);
        $scope.feed.nextPage();
      };
      var currUrl = $location.absUrl();
      if (currUrl.indexOf("trends") > -1) {
        $scope.onClickTab($scope.tabs[0]);
      } else if (currUrl.indexOf("recent") > -1) {
        $scope.onClickTab($scope.tabs[1]);
      } else if (currUrl.indexOf("best") > -1) {
        $scope.onClickTab($scope.tabs[2]);
      } else {
        $scope.onClickTab($scope.tabs[0]);
      }

    })
  .factory('InstaFeed', function($http, $sce) {
      var InstaFeed = function(sortBy) {
        this.items = [];
        this.set = new Set();
        this.busy = false;
        this.inProgress = 0;
        this.sortBy = sortBy;
        this.progressStarted = function(){
            this.inProgress++;
            this.busy = this.inProgress > 0;
        };
        this.progressCompleted = function(){
            this.inProgress--;
            this.busy = this.inProgress > 0;
        };
        this.nextUrl = "/trending?limit=5&sort=" + this.sortBy;
        this.notFoundItems = [];
      };

      InstaFeed.prototype.nextPage = function() {
        if (this.busy || !this.nextUrl) return;
        this.progressStarted();
        $http.get(this.nextUrl)
            .then(function(data) {
              data = data.data;
              var items = data.feed;
              for (var i = 0; i < items.length; i++) {
                var mediaUrl = items[i][1];
                if (!this.set.has(mediaUrl)){
                    this.set.add(mediaUrl);
                    if (this.items.length > 15) this.items.shift();
                    this.items.push([mediaUrl, items[i][3]]);
                        this.progressStarted();
                    $http.jsonp($sce.trustAsResourceUrl("http://api.instagram.com/oembed/?omitscript=true&url=" + mediaUrl))
                        .then(function(resp) {
                            if (resp.data && resp.data.html){
                                var url = resp.config.url.toString().replace(/.*&url=/, '')
                                $('#feed').find("[id='" + url + "']").find("[class='content']").prepend($(resp.data.html));
                                instgrm.Embeds.process();
                            }

                        }.bind(this), function(resp) {
                            var url = resp.config.url.toString().replace(/.*&url=/, '')
                            for (var i in this.items){
                                if (this.items[i][0] === url){
                                    this.items.splice(i, 1);
                                    this.notFoundItems.push(url);
                                    break;
                                }
                            }
                        }.bind(this))
                        .finally(function(){
                            this.progressCompleted();
                        }.bind(this));
                }
              }
              this.nextUrl = data.next || undefined;
            }.bind(this))
            .finally(function(){
                this.progressCompleted();
            }.bind(this));
      };

      return InstaFeed;
  })
  .filter('trusted', ['$sce', function ($sce) {
    return function(url) {
        return $sce.trustAsResourceUrl("http://api.instagram.com/oembed/?omitscript=true&url=" + url);
    };
}]);










</script>
</body>
</html>
